__pycache__/
.vscode/
*.egg-info/
.venv/
dist/
.docs_venv
_build
_archive
_autosummary
.ipynb_checkpoints/
lightning_logs/
*.log
.micromamba/
.cache
.ruff_cache/
*.npz
*.gz
*.png
*.jpg
*.pdf
fig/
.mypy_cache
nsight_report*
.pkl_memoize*
.pytest_cache/
*.log
*.swp
*~
,*
.idea/
.vs/
.vscode/
.~lock.*
/local/
/metadata/md5-cache
/tags
/results/
/slurm-scripts/
/btorch
/outputs/
/swanlog/

.kilocode
.kilo
.agent

*.parquet

